/* =============== Особенности компании =============== */
/* Смена типа отображения списка особенностей */
.feature {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }

  /* Переменная количества элементов в строке секции особенностей */
  &__item {
    @extend %item;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;

      &:last-child {
        margin: 0;
      }
    }

    @media screen and (min-width: 768px) {
      --items: 2;
    }

    @media screen and (min-width: 1200px) {
      --items: 4;
    }
  }
  /* Фон иконки и отступ от него */
  &__icon-box {
    margin-bottom: 30px;
    width: 100%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-bg-color);
    border-radius: 4px;
  }

  /* Стиль заголовков списка особенностей */
  &__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--secondary-color);

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  /* Стиль текста списка */
  &__text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
