/* =============== Футер =============== */
/* Цвет и отступы фона */
.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  /* Расположение и выравнивание контейнеров в футере */
  &__container {
    display: flex;
    gap: 60px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      justify-content: space-evenly;
      align-items: baseline;
      flex-wrap: wrap;
    }
  }

  /* Отступ от контейнера контактной информации */
  &__contacts {
    @extend %link;

    @media screen and (min-width: 768px) {
      // margin-right: auto;
    }
  }

  /* Цвет и отступ логотипа в футере */
  &__logo {
    @extend %link;
    display: block;
    margin-bottom: 20px;

    color: var(--triary-color);
  }

  /* Отступ контейнера формы от других блоков футера */
  &__newsletter {
    @media screen and (max-width: 1199px) {
      max-width: 450px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: auto;
    }
  }

  /* Стиль заголовка списка соцсетей в футере */
  &__title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--triary-color);
  }
}
