/* =============== Стили шапки =============== */
.header {
  border-bottom: 1px solid var(--header-border);

  &__container {
    display: flex;
    align-items: center;
    background-color: var(--triary-color);
  }

  &__logo {
    @extend %link;
    /* Цвет и отступ логотипа в шапке  */
    color: var(--logo-color);
    @media screen and (max-width: 767px) {
      padding: 16px 0;
    }

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}

/* Списки шапки */
.nav,
.contacts {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 768px) {
    /* Расположение элементов шапки */
    flex-direction: row;
    margin-left: auto;
    gap: 50px;

    /* Уникальный символьный интервал в шапке */
    letter-spacing: 0.02em;
  }
}

.nav {
  &__link {
    @extend %link;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);

    @media screen and (min-width: 768px) {
      /* Шрифт шапки */

      font-size: 14px;
      line-height: 1.14;
      /* Активная область ссылок навигации */
      display: block;
      padding: 32px 0;

      // Цвет ссылок навигации

      /* Позиционирование псевдоэлементов относительно ссылок навигации */
      position: relative;

      /* Отметка текущей страницы */
      &--current {
        color: var(--accent-color);
      }

      /* Псевдоэлемент подчеркивания ссылок навигации */
      &::after {
        position: absolute;
        left: 0;

        /* Перекрытие псевдоэлементом нижней границы хедера */
        bottom: -1px;

        content: '';
        display: block;

        width: 100%;
        height: 4px;

        background-color: var(--accent-color);
        border-radius: 2px;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    /* Эффект подчеркивания ссылок навигации, кроме текущей */
    &:not(&--current)::after {
      transform: scaleX(0);
      transition: transform var(--animation-global);
    }

    /* Масштабирование эффекта подчеркивания */
    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }
  }
}

.contacts {
  flex-direction: column-reverse;
  margin-bottom: 64px;

  &__item {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);

    &:last-child .contacts__link {
      font-size: 34px;
      line-height: calc(40 / 34);
      color: var(--accent-color);

      @media screen and (max-width: 479px) {
        font-size: 27px;
        line-height: 1.16;
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__link {
    @extend %link;
    color: var(--main-color);

    @media screen and (min-width: 768px) {
      /* Выравнивание иконок контактов */
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* Отступ от иконки */
  &__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }

    margin-right: 10px;
    /* Цвет иконки */
    fill: currentColor;
  }
}
