/* Стили логотипа студии */
.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    /* Цвет первой части логотипа */
    &__web {
        color: var(--accent-color);
    }
}