.mobile-menu {
  display: flex;
  width: 100%;

  @media screen and (max-width: 767px) {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    padding: 48px 40px 60px;
    background-color: var(--triary-color);
    height: 100vh;

    // Скролл внутри мобильного меню
    overflow-y: scroll;
  }

  &__socials {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media screen and (max-width: 400px) {
      gap: 7px;
    }

    @media screen and (max-width: 350px) {
      gap: 5px;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__item {
    @extend %item;
    padding-right: 10px;

    @media screen and (max-width: 400px) {
      padding-right: 7px;
    }

    @media screen and (max-width: 350px) {
      padding-right: 5px;
    }
    border-right: 1px solid var(--form-border);

    &:last-child {
      padding-right: 0;
      border: none;
    }
  }

  &__link {
    @extend %link;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    color: var(--accent-color);

    @media screen and (max-width: 425px) {
      font-size: 15px;
    }

    @media screen and (max-width: 400px) {
      font-size: 13px;
    }

    @media screen and (max-width: 350px) {
      font-size: 12px;
    }
  }
}

.menu-wrap {
  position: absolute;
  top: 10px;
  right: 55px;

  @media screen and (min-width: 768px) {
    position: static;
    width: 100%;
  }
}

.mobile-btn {
  border: none;
  background-color: var(--triary-color);
  border-radius: 50%;

  padding: 0px;
  margin: 0px;

  position: fixed;

  z-index: 3;

  transition: fill var(--animation-global);

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.icon-close {
  display: none;
}

.mobile-btn.is-open .icon-close {
  display: block;
}

.mobile-btn.is-open .icon-open {
  display: none;
}

.mobile-btn.is-open + .mobile-menu {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
