/* Выравнивание отступа от границы секции для обеспечения правильного расстояния между контейнерами */
.skills {
  padding-top: 0;

  &__title {
    @extend %title;
  }

  /* Расположение элементов по горизонтали и отступы */
  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }

  &__item {
    /* Позиционирование оверлея относительно элемента списка */
    position: relative;

    /* Переменная количества элементов в строке секции скиллов */
    --items: 3;
    // Подключение формулы ширины элемента списка
    @extend %item;
  }

  &__overlay {
    /* Позиционирование оверлея относительно элемента списка */
    position: absolute;
    left: 0;
    bottom: 0;

    /* Растягивание оверлея на всю ширину блока */
    width: 100%;

    /* Внутренние поля оверлея */
    padding: 27px 10px;

    /* Цвет оверлея */
    background-color: rgba(47, 48, 58, 0.8);
  }

  /* Cтиль текста в оверлее */
  &__text {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--triary-color);
  }
}
