/* =============== Команда =============== */
/* Фон секции */
.team {
  background-color: var(--secondary-bg-color);

  &__title {
    @extend %title;
  }

  /* Расположение элементов по горизонтали и отступы */
  &__list {
    @extend %list;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: var(--indent);
    }
  }

  /* Фон и закругленные нижние рамки карточек сотрудников */
  &__card {
    background-color: var(--triary-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
      &:last-child {
        margin: 0;
      }
    }

    /* Переменная количества элементов в строке секции команды */
    @media screen and (min-width: 768px) {
      --items: 2;
    }
    @media screen and (min-width: 1200px) {
      --items: 4;
    }
  }

  /* Имена сотрудников */
  &__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: var(--secondary-color);
  }

  /* Должности */
  &__job {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
  }

  /* Центрирование имен и должностей сотрудников  */
  &__name,
  &__job {
    text-align: center;
  }

  /* Вертикальные поля текста карточек сотрудников */
  &__description {
    padding: 30px 10px;
  }
}
