/* Сброс встроенной геометрии для заголовков, абзацев и списков */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Сброс четырехпиксельных зазоров у изображений */
img,
svg {
  display: block;
}

img {
  // Обеспечение респонсивности изображений
  max-width: 100%;
  height: auto;
}

svg {
  // Запрет изменения размера иконками
  flex-shrink: 0;
}
